*{
    box-sizing:border-box;
}

html { overflow-y: scroll; overflow-x:hidden; }

body{
    margin:0;
    direction: rtl; 
    font-family: 'Arial (Hebrew)', Arial; 
    padding-bottom: 38px; 
    background: #fff;
   /* overflow:hidden;*/
    height:1200px;
    position: absolute;
}

.header {
    width:100%;
    text-align: center;
    direction:rtl;
    font-weight: bold;
    background: linear-gradient(to bottom, rgb(144,144,144) 0%,rgb(144,144,144) 81%,rgb(148,148,148) 87%,rgb(163,163,163) 93%,rgb(169,169,169) 97%,rgb(170,170,170) 100%);
    height:105px;
    float:right;
    width:100%;
    margin:0;
}

.navbar{
    width:900px;
    height:auto;
    margin:auto;
    padding-right: 140px;
}
.navbar a {
    float:left;
    font-size: 15px;
    margin-top:72px;
    color:white;
    text-align: center;
    text-decoration: none;
    }

.home{
    float:right;
}
.header>.home a{
    position:absolute;
    top:72px;
    right:340px;
    width: 17px;
    height:20px;
    background: url(/images/images/menu_home.png) no-repeat 0 top;
}

#logo{
    position:relative;
}

#logo>img{
    position:absolute;
    top:35px;
    right:180px;
    width: 142px;
    height:93px;
}
.home a:hover{
    color:#005CA0;
}

    .nav-separator{
      display:inline-block;
      width: 4px;
      height: 21px;
      margin: 0 16px;
      background: url(images/images/menu_sep.png) no-repeat 0 0px;
    }

.navbar a:hover, .dropdown:hover .dropbtn {
    color: #005CA0;
}

.dropdown {
    display:inline-block;  
    text-align: center;  
    }

.dropdown .button {
    font-size: 14px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
}
.dropdown-content {
    display: none;
    font-size:12px;
    position: absolute;
    top:105px;
    background-color:#909090;
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   }

.dropdown-content a {
    float: none;
    color: white;
    border: 0.5px solid white;
    margin-top:0px;
    padding:10px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.dropdown-content a:hover {
    background-color:#BCBCBC;
    color: #005CA0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

body>#first-row{
    overflow:hidden;
    width:900px;
    margin: auto;
 }

 body>#second-row{
    overflow:hidden;
    width:900px;
    margin: auto;
 }

.First-row-element{
    width:291px;
    height:355px;
    float:right;
    margin-top:30px;
    position:relative;
    border-bottom-right-radius: 20px;
    margin-right: 9px;
}

.First-row-element img{
    border-bottom-right-radius: 20px;
}
.element-text{
    position:absolute;
    left: 38px;
    bottom: 8px;
    background-color: rgba(125, 123, 122,0.8);
    color:white;
    text-align: right;
    width: 248px;
    height: 98px;
    line-height:0.9em;
    overflow: hidden;
    padding: 6px 10px;
    border-bottom-right-radius: 20px;
    }

.element-text h3{
        font-size: 14px;
        font-weight: bold;
        margin:0;
           }

.element-text p{
    font-size: 13px;
    margin-top: 4px;
    margin-bottom:0px;
}

.element-text a{
    font-size: 13px;
    float: left;
    color: white;
    padding-left:12px;
    background: url(/images/images/read_more_white.png) no-repeat left center;
    margin-bottom:2px;
}

.element-text a:hover{
    color: #005CA0;
    background: url(/images/images/read_more_yellow.png) no-repeat left center;
}

.Second-row-element{
    width:291px;
    height:216px;
    float:right;
    margin-top:20px;
    overflow:hidden;
    border-top-right-radius: 20px;
    margin-right: 9px;
    background: url(images/images/small_cube_bg.png) no-repeat left center;
}

.Second-row-element img{
    width:249px;
    float:left;
    margin:10px 21px;
    margin-bottom:18px;
}

.Second-row-element>.element-text{
    position:absolute;
    left: 38px;
    bottom: 8px;
    color:white;
    text-align: right;
    width: 248px;
    height: 98px;
    line-height:0.9em;
    overflow: hidden;
    padding: 10px;
    border-bottom-right-radius: 20px;
    }

    h2{
        color:#767661;
        font-size: 14px;
        text-align: right;
        padding-right:20px;
    }

    .Second-row-element a{
        font-size: 13px;
        color:#767661;
        text-decoration:none;
        padding-left:12px;
        background: url(/images/images/read_more_yellow.png) no-repeat left center;
        margin-right:180px;
            }
    
    .element-text a:hover{
        color: #005CA0;
        background: url(/images/images/read_more_yellow.png) no-repeat left center;
    }

    #container{
        overflow:hidden;
    }

    .links {
        float:right;
        width:80px;
    }

    .links a{
        margin-right:21px;
    }

    #map-father img{
        float:left;
        width:73px;
        padding-left:12px
    }
    